.dropdown-container {
    width: 200px;
  
    mat-option {
      max-width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  
      &.highlighted {
        background-color: lightblue !important;
      }
    }
  
    mat-select-panel {
      max-height: 75vh;
    }
  }

  