.table-container {
  height: 400px;
  overflow: auto;
}

.table-container::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.table-container::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
}

.mat-table-scroll {
  min-width: 1200px;
}

.z-top {
  z-index: 100;
  background: white;
}