<div class="dropdown">
  <div class="dropdown-toggle" (click)="toggleDropdown()">
    <span>
      {{ placeholder }}
    </span>
    <span class="arrow">&#9662;</span>
  </div>
  <div class="dropdown-menu" *ngIf="isOpen">
    <div class="back-button" *ngIf="menuStack.length" (click)="navigateBack()">
      ← Return
    </div>
    <div class="menu-items">
      <div *ngFor="let item of activeMenu" class="dropdown-item">
        <div *ngIf="item.children; else leafItem" (click)="navigateToSubmenu(item.children)">
          {{ item.label }} →
        </div>
        <ng-template #leafItem>
          <div (click)="selectItem(item.label)">{{ item.label }}</div>
        </ng-template>
      </div>
    </div>
  </div>
</div>